:root {
  --dark-blue: #000000;
}

.font {
  font-family: "Roboto", sans-serif !important;
}

.f400 {
  font-weight: 400 !important;
}

.f500 {
  font-weight: 500 !important;
}

.f700 {
  font-weight: 700 !important;
}

.f900 {
  font-weight: 900 !important;
}

body {
  font-size: 120%;
  background-color: var(--dark-blue);
  color: white;
}

button,
input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 10px 0px;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  height: 250px;
  overflow: auto;
  width: 90%;
  border-radius: 25px;
  color: white;
  padding: 25px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
