:root {
  --dark-blue: #28242c;
}

.border {
  border: 1px solid black;
}

::-moz-selection {
  background: white;
}
::selection {
  background: white;
}

.font {
  font-family: nunito-sans, sans-serif !important;
  opacity: 95%;
}

.f400 {
  font-weight: 400 !important;
}

.f500 {
  font-weight: 500 !important;
}

.f700 {
  font-weight: 700 !important;
}

.f900 {
  font-weight: 900 !important;
}

body {
  font-size: 120%;
  background-color: var(--dark-blue);
  color: white;
  padding-bottom: 35px;
}

.myChart {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 20px;
  border-radius: 0px 0px 20px 20px;
  border-top: none;
}

.new-trans {
  background: linear-gradient(
    rgba(255, 255, 255, 0.144),
    rgba(255, 255, 255, 0)
  );
  color: #28242c;
  height: 100px;
  display: none;
}

.real-table {
  color: var(--dark-blue);
  width: 85%;
  margin: auto;
  font-size: 15px;
  display: none !important;
}

.time-year {
  background-color: #ffdc74;
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 50px;
  position: relative;
  top: 40px;
  cursor: pointer;
}

.add-container {
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.068);
  display: none;
  justify-content: center;
  align-items: center;
}

.open {
  background-color: rgb(250, 250, 250);
  padding: 12px 20px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 50px;
  position: relative;
  top: 40px;
  width: 150px;
  color: #28242c;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.open:hover {
  background-color: rgba(250, 250, 250, 0.103);
  color: white !important;
}

.tableme {
  height: 250px;
  background-color: rgb(250, 250, 250);
  margin-top: 30px;
  border-radius: 50px;
  display: none;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  color: var(--dark-blue);
}

.desk-table {
  height: 250px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.068);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.808);
  border-radius: 30px;
  opacity: 0%;
  position: absolute;
  left: 50%;
  top: 250px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 400px;
  padding: 25px;
  color: white;
  transition: all 200ms ease-in-out;
}

.block {
  opacity: 100%;
}

.title {
  border-bottom: 2px solid var(--dark-blue);
  padding-bottom: 8px;
  font-size: 20px;
  width: 120px;
  margin: auto;
}

.title2 {
  border-bottom: 2px solid rgba(255, 255, 255, 0.822);
  padding-bottom: 8px;
  font-size: 20px;
  width: 120px;
  margin: auto;
}

.data {
  font-size: 17px !important;
  display: grid;
  grid-template: 130px / 120px 120px;
  margin-top: 18px;
  justify-content: center;
  overflow-x: scroll;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  opacity: 70%;
  font-size: 15px;
}

.data p {
  padding: 15px 0px;
}

.welcome {
  padding-top: 41px;
  font-size: 28px;
  position: relative;
}

.total-amount {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.336);
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.dollar {
  position: relative;
  top: 10px;
  font-size: 25px;
}

.total-font {
  font-size: 10px;
  opacity: 70%;
}

button,
input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 10px 100px;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.form {
  margin-top: 25px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transactions {
  text-align: left;
  height: 250px;
  overflow: auto;
  width: 90%;
  border-radius: 25px;
  color: white;
  padding: 25px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}

.time-year {
  display: none;
}

.view {
  display: block;
}

@media screen and (max-width: 825px) {
  .myChart {
    border: none;
    border-radius: 0px;
  }

  .view {
    display: none;
  }

  .new-trans {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desk-table {
    top: 220px;
  }
}

@media screen and (max-width: 550px) {
  .open {
    display: none;
  }

  .time-year {
    display: block;
  }

  .tableme {
    display: block;
  }

  .new-trans {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desk-table {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .tableme {
    width: 90%;
  }

  .data {
    grid-template: 130px / 100px 100px;
  }
}
